a {
  font-size: 12px;

  @media screen and (min-width: 992px) {
    font-size: 14px;
  }
}

p {
  font-family: $fRaleway;
  font-size: 14px;

  @media screen and (min-width: 769px) {
    font-size: 18px;
  }
}

.center-text-block {
  margin: 0 auto;
  max-width: 300px;

  @media screen and (min-width: 769px) {
    max-width: 600px;
  }
}

h1 {
  font-size: 26px;
  padding-bottom: 10px;

  @media screen and (min-width: 769px) {
    font-size: 32px;
  }
}
